* {
    box-sizing: border-box;
}

.textareacomments{
    padding-bottom: 300px;
}
body{
    background-color: White;
}
div{
    text-align: right;
    line-height: 2.00em;
    font-family: Merriweather, sans-serif;
    margin-bottom: 10px;
    padding: 5px;
}
h1, h3, h5{
    text-align: left;
    font-family: FiraSans, sans-serif;
    
}
.opening-paragraph{
    color: salmon;
    font-size: 20px;
    text-indent: 15px;
    font-weight:600;
}

.opening-paragraph::first-line{
    font-size: 20px;
}
.second-paragraph{
    font-size: 20px;

/* Set your header design: */
header {
    position: center;
    top: 5px;
    left: 5px;
    background-color: beige;
    font-family: Merriweather;
    text-transform: uppercase;
    margin-top: 0;
    height: 4em;
    width: 100%;
    text-align: center;
}

/* Set the layout of the menu: */
.menu-item {
    display: inline-block;
    margin: 1em .2em;
    min-width: 6em;
    text-align: center;
    background-color: beige;
    padding: 0.5em 1em;
}

/* Style the links: */
.menu-item a {
    color: black;
    text-decoration: none;
}

.menu-item:hover {
    background-color: orange;
   
}

/* Add a dropdown feature: */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    margin: 0.5em 0 0 -1em;
    color: black;
    background-color: white;
    z-index: 1;
}
.dropdown-content a {
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style dropdown item display: */
.dropdown-item {
    display: block;
    text-align: right;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    min-width: 5.9em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: black;
    background-color: white;
}

.mainimage{
    float: center;
    content:url("../images/gut-x-1.webp");

}

.secondimage{
    float:center;
    content:url("../images/gutx.jpeg");
}

.thirdimage{
    margin: auto;
    content:url("../images/before:after.webp");
}

.fourthimage{
    margin:auto;
    content:url("../images/");
}

.fifthimage{
    margin:auto;
    content:url("../images/road2-small.jpg");
}

}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.contactus{
    width:50%;
    margin-left: 25%;
    
}
