  body{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucidia Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .main-container {

    /* Draw a solid border make it gray */
    border-style: solid;
    border-width: 10px;
    border-color: gray;
    /*Add space between the border and its inside elements*/
    padding: 10px;
    /* Color the background with sagegreen. */
    background : sagegreen;
    width: 75%;
    margin: auto;
  }

  div.align{
      text-align: center;
  }

  .secondary-container{

      margin: auto;
      width:50%;
      padding: 50px;
      border-bottom: 1px black solid;
      border-spacing: inherit;
  }

  #mainheader{
      position: relative;
      left: 20px;
      top:5px;
      color: forestgreen;
      opacity: .75;
      font-size: 60px;
  }
    
